body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.homeContent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gameFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 1200;
  border: solid #d1d1d0 1px;
  border-radius: 50% / 30%;
}

.gameFrame.morning {
  background: linear-gradient(180deg, #bde0fe 70%, #008000 30%);
}
.gameFrame.afternoon {
  background: linear-gradient(180deg, #e3f2fd 70%, #aacc00 30%);
}
.gameFrame.evening {
  background: linear-gradient(180deg, #031d44 70%, #41521f 30%);
}

.gameFrame .progress {
  width: 60%;
}

.gameFrame .game {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.tree {
  width: 75%;
  height: auto;
  flex-grow: 3;
}

.inventory {
  margin: 15px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.inventory .chest {
  width: 50px;
}

.inventory .rewards {
  display: flex;
  flex-direction: column;
}

.inventory .item {
  display: flex;
  flex-direction: row;
}

.inventory .img {
  width: 40px;
  margin: 3px;
}

.inventory span {
  font-size: 7px;
}

/* these might be helpful or they might break the graphs
.graphs-container {
  height: 20rem;
}

.graph-row {
  padding: 50px;
}

div.graphs-container.container {
  padding-bottom: 100px;
}

.pie-chart-container {
  height: 30rem;
  width: 0rem;
} */

/*Login / Signup*/
.signin {
  display: flex;
  flex-direction: row;
  margin: 75px 30px 30px 30px;
  height: 500px;
  border: solid rgb(178, 178, 178) 0.5px;
  border-radius: 0.5rem;
}

.signin.login {
  background: linear-gradient(90deg, #ffffff 50%, #84a98c 50%);
}

.signin.signup {
  background: linear-gradient(90deg, #ffffff 50%, #3c6e71 50%);
}

.signin-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.signin-info h1 {
  font-size: 30px;
  align-self: flex-start;
}

.signin-info form {
  display: flex;
  flex-direction: column;
}

.pretty-intro {
  width: 50%;
}
/*  StrecthList styling*/

.stretchlist-card {
  height: 100%;
  justify-content: space-between;
  align-content: space-between;
  padding: 10px;
}

/*  Favorite Stretches Styling */

.favorites-card {
  justify-content: space-between;
  align-content: space-between;
  padding: 15px;
  height: 100%;
}
#favorites-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}

.favorites-remove-button {
  justify-self: flex-end;
  margin-top: auto;
  /* align-self: flex-end; */
  /* margin-bottom: auto; */
}

/*  Pie Chart Styling*/
.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Main Data Visualization Page Styling */

.graphs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 50px;
}

.graph-column {
  width: 100%;
  padding-bottom: 20px;
}

.line-graph-container {
  /* padding-top: 50px; */
  margin: auto;
}

.data-viz-body {
  background-color: #d9d9d9;
}
