body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.homeContent{
  display: flex;
  flex-direction: row;
}



.gameFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: rgb(179, 249, 249);
  border-radius: 5rem;
}

.tree {
  width: 360;
  height: auto
}

.progress{
  width: 60%
}
